.git
.github
.venv
venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
node_modules
.next
data/raw
data/normalized/*
!data/normalized/vietcombank_product_catalogs_normalized.jsonl
data/chunks/*
!data/chunks/vietcombank_chunks.jsonl
!data/chunks/vietcombank_products_chunks.jsonl
!data/chunks/vietcombank_faq_chunks.jsonl
!data/chunks/vietcombank_product_catalogs_chunks.jsonl
data/indexes
data/reports
logs
.env
